

body{
    background-color:rgb(75, 74, 74);
    color: antiquewhite;
}
.jumbo-color{
    background-color: rgb(83,81,81);
}
.form-control{
    color: rgb(167,168,168);
}
.col{
    background-color: aliceblue;
}