{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white mt-5">About</h3>

    <p >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error est asperiores architecto culpa, nesciunt voluptatibus voluptas atque debitis illum officiis doloribus eveniet tenetur corrupti omnis eos temporibus magni at ab vitae repellat. Rem quasi est corrupti iusto nihil ratione voluptate, repellendus recusandae ut reprehenderit veritatis, quia mollitia earum ad alias.</p>
</div>
{% endblock %}