{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="col-sm-4 offset-1">
            <h3 class="text-white mt-5 align-center">Register Here To Become an Author</h3>
            {%  if messages %}
                {% for message in messages %}
                <p {% if messages.tags %} class="{{message.tags}} {% endif %}">{{message}}</p>
                {% endfor%}
            {% endif %}
        

                <form action="" method="post" novalidate  >
                    {% csrf_token %}
                   
                    {% for fm in form %}
                        <div class="form-group">
                        {{fm.label_tag}} {{fm}} <small class="text-warning ">{{fm.errors|striptags}}</small>
                       
                        </div>
                        
                    {% endfor %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p alert alert-danger my-3>{{error}}</p>
                        {% endfor %}
                    {% endif %}
                    <br>
                    <input type="submit" clsss="btn btn-primary" name="" value="Register" id="">
                </form>
            
                
            </div>
            <!-- <div class="col-sm-6 mt ">
                <img  class=mt-10 src="{% static '/image/image2.jpg' %}" alt="sorry">
            </div>
        -->
   

{% endblock %}
